.row {
  padding: 5px !important;
}

.score-pensum {
  height: 160px;
  //width: 120px;
}

.mat-card-title {
  font-size: 14px !important;
}

.mat-card-subtitle {
  font-size: 10px !important;
}

.text-content {
  font-size: 10px !important;
}
